@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.wrapper {
  max-width: 1140px;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
}

*,
*:before,
*:after {
}

a {
  text-decoration: none;
  color: #222;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
}

.user
{
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
}

.sr-only {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #ffffff;
  background-color: #9fc5f8;
  min-width: 120px;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-align: center;
}

.button svg {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  fill: #fff;
}

.button span {
  display: none;
}

@media (min-width: 600px) {
  .button span {
    display: initial;
  }
}

.button--icon {
  min-width: initial;
  padding: 0.5rem;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  height: auto;
  background-color: #000000;
}

footer ul.footerleft{
  margin-left: 150px;
  margin-top: 10px;
}
footer ul.footerleft li{
  display: inline;
  margin-right: 25px;
}
footer a{
  color: #ffffff;
}

footer a:hover{
  color: #09ffc4;
  text-decoration: none;
}
footer h5{
  color: #ffffff;
}
footer p{
  color: #ffffff;
}
/*
footer h1:hover{
    color: #09ffc4;
    text-decoration: none;
}
*/
.social:hover {
  -webkit-transform: scale(1.0);
  -webkit-transition-duration: 0.5s;
}
.social {
  -webkit-transform: scale(0.8);
  color: #222;

}