/*HEADER+SIDEBAR CSS*/
/**file due*/
/*@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap'); */

/*
html, body {
  height: 100%;
}
*/

html {
  /*
   font-size: 80%;
  */
  font-size: 100%;

 }




*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

  background: none;
}

/*
#body{
  padding-bottom:100px;
}
*/

/*
body{

  background: #e1ecf2;
  da valutare se non deve essere bianco ma un panna

}
*/

.wrapper{
  /*
  margin: 10px;
   */
  margin: auto;
}
.wrapper .top_navbar{

/*
  width: calc(100% - 1px);
 */
  width: 100%;
  height: 70px;
  display: flex;
  position: fixed;
  top: 0px;
  background: #9fc5f8;
}

#header {
  position: relative;
}

.responsive_logo {
  width: 75%;
  height: auto;
}

.responsive_item_account {
  /*aggiunta sopra il profilo di spazio*/
  margin-top: 25px;
  width: 18%;
  height: auto;
}

.wrapper .top_navbar .hamburger{
  width: 70px;
  height: 100%;
  background: #9fc5f8;
  padding: 15px 17px;
  cursor: pointer;
  /* inserimento di transizione */
  transition: all 0.3s;
}

.wrapper .top_navbar .hamburger div{
  width: 35px;
  height: 4px;
  background: #000000;
  margin: 5px 0;
}
/******/
.wrapperIn{
  margin: 10px;
}
.wrapperIn .top_navbar{
  width: calc(100% - 20px);
  height: 70px;
  display: flex;
  position: fixed;
  top: 0px;
}

.wrapperIn .top_navbar .hamburgerIn{
  width: 70px;
  height: 100%;
  background: #9fc5f8;
  padding: 15px 17px;
  cursor: pointer;
}

.wrapperIn .top_navbar .hamburgerIn div{
  width: 35px;
  height: 4px;
  background: #9fc5f8;
  margin: 5px 0;
}
/******/
.top_menu{
  text-align: center;
}

.wrapper .top_navbar .top_menu{
  width: calc(100% - 1px);/*70*/
  height: 100%;
  background: #9fc5f8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.wrapper .top_navbar .top_menu .logo{
  color: #2e4ead;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
}

.wrapper .top_navbar .top_menu ul{
  display: flex;
}

.wrapper .top_navbar .top_menu ul li a{
  font-size: 15px;
}

.wrapper .top_navbar .top_menu ul li a:hover{
  background: #4360b5;
  color: #fff;
}

.wrapper .top_navbar .top_menu ul li a:hover i{
  color: #fff;
}
/*
.wrapper .sidebar{
  position: fixed;
  top: 70px;
  /*
  left: 10px;
   */
/*
  background: #2c65ae;
  width: 200px;
  height: calc(100% - 80px);
  transition: all 0.5s;
  }

.wrapper .sidebar ul li a{
  display: block;
  padding: 20px;
  color: #fff;
  position: relative;
  margin-bottom: 1px;
  color: #000000;
  white-space: nowrap;
  text-align: left;
}

.wrapper .sidebar ul li a:before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;
  height: 100%;
  background: #92a6e2;
  display: none;
}

.wrapper .sidebar ul li a:hover,
.wrapper .sidebar ul li a.active{
  background: #e1ecf2;
}

.wrapper .sidebar ul li a:hover:before,
.wrapper .sidebar ul li a.active:before{
  display: none;
}

.wrapper .main_container{
width(100% - 200px;); /*ATT*/
/*
  margin-top: 70px;
  margin-left: 200px;
  margin-right: 70px;
  padding: 15px;
  transition: all 0.3s ease;
}

.wrapper .main_container .item{
  background: #fff;
  margin-bottom: 10px;
  padding: 15px;
  font-size: 14px;
  line-height: 22px;
}

.wrapper.collapse .sidebar{
  width: 0px;/*70px*/
/*
  transition: all 0.5s;
}

.wrapper.collapse .sidebar ul li a{
  text-align: center;
  display:none;

}

.wrapper.collapse .sidebar ul li a span.icon{
  margin: 0;
  width: 0px;

}

.wrapper.collapse .sidebar ul li a span.title{
  display: none;

}

.wrapper.collapse .main_container{
width(100% - 90px;);/*ATT :*/
/*
  margin-left: 70px;
  transition: all 0.5s;
}
*/
/*****CSS PER LOGIN*****/

/**@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');**/
/*
.wrapperLogin{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form{
  /*width: 425px;*/
  /**/
/*
  align-content: center;
  width: 100%;
  height: auto;
  /**/
/*
  background: #fff;
  padding: 35px 50px;
  border: 3px solid #9fc5f8;
  border-radius: 5px;
}

.form .title{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
}

.form .input_wrap{
  /**/
/*
  align-content: center;
  width: 100%;
  height: auto;
  /**/
/*
  margin-bottom: 20px;
  /*width: 325px;*/
/*
  position: relative;
}

.form .input_wrap:last-child{
  margin-bottom: 0;

}

.form .input_wrap label{
  display: block;
  margin-bottom: 5px;
  /**/
/*
  align-content: center;
  width: 100%;
  height: auto;
  /**/
/*
}


.form .input_wrap input{
  padding: 15px;
  /**/
/*
  align-content: center;
  /*width: 35%;*/
/*
  height: auto;
  width: 100%;
  /**/
/*
  border: 1px solid transparent;
  font-size: 16px;
  border-radius: 3px;
  border: 3px solid #9fc5f8;
  border-radius: 5px;
}

.form .input_wrap .input{
  background: #f5f4f4;
  padding-right: 35px;
}


.form .input_wrap .input:focus{
  border-color: #ffffff;
}

.form .input_wrap .input_field{
  position: relative;
}

.form .input_wrap .btn{
  text-transform: uppercase;
  /*letter-spacing: 1px;*/
/*
  color: #fff;
}

.form .input_wrap .btn.disabled{
  background: #727272;
}

.form .input_wrap .btn.enabled{
  background: #2c65ae;
  cursor: pointer;
}

.form .input_wrap .error_msg{
  font-size: 15px;
  margin-bottom: 5px;
  color: #f74040;
  display: none;
}
*/



/* seconda parte di css */

html {
  font-size: 80%;
}



body {
  font-family: 'Poppins', sans-serif;
  /* background: #fafafa; */
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #ffffff;
}

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

/*
.navbar {
  padding: 15px 10px;
  border: none;
  border-radius: 0;
  margin-bottom: 40px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}
*/

/*
.navbar-header{
  background: #9fc5f8;
}
*/

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px;
  height: 100vh;
  z-index: 999;
  background: #2c65ae;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#dismiss {
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background: #7386D5;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#dismiss:hover {
  background: #fff;
  color: #7386D5;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 998;
  display: none;
}

#sidebar .sidebar-header {
  padding: 20px;
  background: #2c65ae;
}

#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #47748b;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}


#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  color: #fff;
}
#sidebar ul li a:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
  color: #fff;
  /* colore tasti quando passi il mouse*/
  background: #6d7fcc;
}


a[data-toggle="collapse"] {
  position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
  content: '\e259';
  display: block;
  position: absolute;
  right: 20px;
  font-family: 'Glyphicons Halflings';
  font-size: 0.6em;
}
a[aria-expanded="true"]::before {
  content: '\e260';
}


ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  /*
  background: #6d7fcc;
   */
  background: #ffffff;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}
a.download {
  background: #fff;
  color: #7386D5;
}
a.article, a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
/*
#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
  position: absolute;
  top: 0;
  right: 0;
}
*/
