body {
    text-align: left;
}

section {
    margin-right: auto;
}

details {
    background: white;
    border: #007bff;
    color: black;
    margin-bottom: 2px;
    border-radius: 5px;
}

summary {
    cursor: pointer;
    font-weight: 900;
    font-size: 1.2em;
}